.DS_Store
node_modules
tmp
/\.
xcuserdata
^build/
.*\.mode1v3$
.*\.pbxuser$
.*\.xcworkspace$
log/
tmp
.class
server/src/.idea/
server/src/files
server/src/project/target
server/src/target/
server/src/project/project/target/
client/src/deploy
